* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background-color: black;
}



main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px; /* Espacio entre las secciones */
}

.VEntas {
    flex: 1; 
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    color: white;
   
}

.mapa {
    flex: 1;
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 300px; 
    color: white;
}

.audio {
    width: 100%;
    padding: 20px;
    background-color:#222222;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    color: white;
}



