*{
  margin: 0;
  padding: 0;
   box-sizing: border-box; 
}
body{
    background-color: black;
}
.banner h1{
    text-transform:uppercase;
    color: #ffff;
    background: rgba(0, 0, 0, 0.6);
    margin: 15px  15px;
}
h1{
    text-transform:uppercase;
    color: #ffff;
    background: rgba(0, 0, 0, 0.6);
    margin: 15px  15px;  
    text-align: center;
}
.banner{
    align-items: center;
    text-align: center;
}


.dos-promociones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
    padding:0px ;
 
}

.container-promo{    
    flex: 1 1 44%;
    height: 550px;
    padding: 10px;
    padding-top: 20px;
   align-items: center;
    display: flex;
    box-sizing: border-box; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
    
    
}
.container-promo img{
    width: 100%;
    height: 450px;
    object-fit: contain;
    
}
.container-promo :hover{
    transform: translateY(-10px); 
    box-shadow: 0 7px 12px rgba(216, 211, 211, 0.733);
}
.tres-ofertas{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 10px;
padding: 15px;
}
.container-oferta{
    flex: 1 1 24%;
height: 400px;
padding: 14px;
padding-top: 20px;
align-items: center;
display: flex;


}
.container-oferta img{
width: 100%;
height: 450px;
object-fit: contain;
}
.container-oferta :hover{
    transform: translateY(-10px); 
    box-shadow: 0 7px 12px rgba(58, 56, 56, 0.733);
}