.audio {
    width: 100%;
    padding: 20px;
    background-color:#222222;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    color: white;
}
