.caja{
    flex-direction: column;
    text-align: center;
}
.box{
    width: 280px;
    background-color:#222222;
    margin: auto;
    margin-top: 30px;
    /* padding: 20px; */
    padding-top: 10px;
    text-align: center;
    box-shadow: 0  0 40px 0 rgb(26, 25, 25);
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
   margin: 30px 40px 0 40px;
   

}
.box h2{
    margin-bottom: 10px;
}
.pc{
    width:250px;
    border-radius: 2%;

}
