.footer{
    color: white;
     background-color: #222222;
     min-height: 100px;
     padding: 20px 0;
     position: relative;
     bottom: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: 35px;
 }
 .row{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 80px;
 }
 .col{
     text-align: left;
 }
 .texto{
 list-style: none;
 padding: 0;
 }
 .texto li{
     margin-bottom: 10px;

 }
 .texto i{
     margin-right: 4px;
     color:#0071C5;
 }
 .linkfooter{
     text-decoration: none;
     color: #aaaaaa;
 }
 .linkfooter:hover {
    color: #0071C5; 
}
 .footerinfo{
    text-decoration: none;
    color: #aaaaaa;
}