header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000;
    color: white;
} 
h2 a {
    text-decoration: none;  
    color: white;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-left .logo img{
height: 40px;
margin-right: 15px;
}
.header-left h1{
    font-size: 140px;
    color: #333;
    
}


.search-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.container_busqueda{
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;
  
}
.container_busqueda input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    padding: 0 60px 0 20px;
    font-size: 20px;
    background-color: #222222;
   
    
   
}
.container_busqueda .icon {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #222222;
    
}

.marcar-container {
    width: 100%;
    padding: 20px;
    background-color: #333; /* Fondo gris oscuro para el contenedor del marcador */
    text-align: center;
}

.logo{
    display: flex;
}

.marcador{
    list-style: none;
    margin: 0;
    padding: 17px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
  
}
.marcador li{
    position: relative;
    flex: 1 1 18%;
text-align: center;
border-radius: 8px;
padding: 15px;
box-sizing: border-box;
    background-color:#000080;
text-align: center;
transition: background-color 0.3s ease, transform 0.3s ease;
min-width: 150px;
}
.marcador li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px 0;

}
.marcador li:hover{
    background-color:#000046 ;
    transform: translateY(-5px);
}

.sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5 px rgba(0,0,0,0.2);
    z-index: 2;
}
.sub-menu li{
    padding: 10px;
    text-align: left; /*esto hara que el texto se alinie */

}
.sub-menu li a{
    color: white;
    text-decoration: none;
}
.sub-menu li.hover{
    background-color: #444; /*EL CAMBIODE COLOR Cuando el cursor pasa ahi*/



}
.menu-despegable:hover .sub-menu{
    display: block;
}
