.marca {
    color: white;
    padding: 40px 20px;
    text-align: left;  /* El texto estará alineado a la izquierda */
    min-height: 100vh;  /* Altura completa de la pantalla */
    display: flex;
    justify-content: space-between; /* Divide la sección en 2 columnas para el titulo y video  */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    box-sizing: border-box; /* Asegura que los padding no afecten el tamaño */
    overflow: hidden; /* Evita que el contenido se salga del div */
}
.marca h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white; /* Título en blanco */
}


.logo-container {
    display: flex;
    justify-content: flex-start;  
    align-items: center; /*todo centrado*/
}

.logo-brand {
    max-width: 200px; /* Limita el tamaño del logo */
    height: auto;
}

.informacion-container {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 600px; /* Limite de      el ancho del texto */
}

.marca-contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Espacio entre video y la imagen */
    width: 45%;  /* Limita el ancho del lado derecho */
}


.video-container iframe {
    width: 100%;
    height: 315px; /*altura*/
    border: none;   /*sin borde*/
}

/* Estilo para la imagen */
.image-container img {
    width: 100%;
    height: auto; /*altura*/
    border-radius: 10px;  /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}


#acer {
    background-color: #2D6A4F; /*fondo*/ 
}

#Apple{
    background-color: #86868B;/*fondo*/ 
}
#Asus{
    background-color:#010066;  /*fondo*/ 
}
#Lenovo{
    background-color: #881318;
}/*fondo*/ 
