.marca {
    /* Alinea el contenido en la parte superior */
    box-sizing: border-box;
    /* Altura completa de la pantalla */
    display: flex;
    /* Divide la sección en 2 columnas para el titulo y video  */
    align-items: flex-start;
    justify-content: space-between;
    /* El texto estará alineado a la izquierda */
    min-height: 100vh;
    padding: 40px 20px;
    /* Asegura que los padding no afecten el tamaño */
    overflow: hidden;
    color: white;
    text-align: left;
    /* Evita que el contenido se salga del div */
}

.marca h1 {
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* Título en blanco */
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*todo centrado*/
}

.logo-brand {
    max-width: 200px;
    /* Limita el tamaño del logo */
    height: auto;
}

.informacion-container {
    max-width: 600px;
    font-size: 1.1rem;
    line-height: 1.6;
    /* Limite de      el ancho del texto */
}

.marca-contenido {
    display: flex;
    flex-direction: column;
    /* Espacio entre video y la imagen */
    width: 45%;
    gap: 20px;
    /* Limita el ancho del lado derecho */
}


.video-container iframe {
    width: 100%;
    height: 315px;
    /*altura*/
    border: none;
    /*sin borde*/
}

/* Estilo para la imagen */
.image-container img {
    width: 100%;
    height: auto;
    /*altura*/
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


#acer {
    background-color: #2D6A4F;
    /*fondo*/
}

#Apple {
    background-color: #86868B;
    /*fondo*/
}

#Asus {
    background-color: #010066;
    /*fondo*/
}

#Lenovo {
    background-color: #881318;
}

/*fondo*/