.tres-ofertas{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 10px;
padding: 15px;
}
.container-oferta{
    flex: 1 1 24%;
height: 400px;
padding: 14px;
padding-top: 20px;
align-items: center;
display: flex;


}
.container-oferta img{
width: 100%;
height: 450px;
object-fit: contain;
}
.container-oferta :hover{
    transform: translateY(-10px); 
    box-shadow: 0 7px 12px rgba(58, 56, 56, 0.733);
}