*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    background-color: #000; /* Fondo negro para todo el cuerpo */
    color: white;

}
.baner img {
    width: 100%;           /*  el ancho  de toda la pagina*/
    height: 300px;         /* Altura  para el banner  */
    object-fit: cover;     /*  imagen se ajuste bien sin distorsionarse  */
    z-index: 1;            /* Mantiene el banner por debajo del menú despegable  */
}







.caja{
    flex-direction: column;
    text-align: center;
}
.box{
    width: 280px;
    
    background-color:#222222;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0  0 40px 0 rgb(26, 25, 25);
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
   margin: 30px 40px 0 40px;
   

}
.pc{
    width:250px;
    border-radius: 2%;

}








