@import url('./components/header.css');
@import url('./components/footer.css');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #000; /* Fondo negro para todo el cuerpo */
    color: white;
    font-family: "Geist", sans-serif;
}