* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    /*tamaño completo*/
    background-color: black;
}

main {
    flex: 1;
}

.nosotros {
    /* Alinea el contenido en la parte superior */
    box-sizing: border-box;
    /* Altura completa de la pantalla */
    display: flex;
    /* Divide la sección en 2 columnas para el titulo y video  */
    align-items: flex-start;
    justify-content: space-between;
    /* El texto estará alineado a la izquierda */
    min-height: 100vh;
    padding: 40px 20px;
    /* Asegura que los padding no afecten el tamaño */
    overflow: hidden;

    color: white;
    text-align: left;
    /* Evita que el contenido se salga del div */
}


.contenido {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
    /* Ajustamos el ancho para que no ocupe toda la pantalla */
}


.nosotros h1 {
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* Título en blanco */
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*todo centrado*/
}

.logo {
    max-width: 200px;
    /* Limita el tamaño del logo */
    height: auto;
}

.informacion-container {
    max-width: 600px;
    font-size: 1.1rem;
    line-height: 1.6;
    /* Limite de      el ancho del texto */
}

.marca-contenido {
    display: flex;
    flex-direction: column;
    /* Espacio entre video y la imagen */
    width: 45%;
    gap: 20px;
    /* Limita el ancho del lado derecho */
}



/* Estilo para la imagen */
img {
    width: 100%;
    height: auto;
    /*altura*/
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


#somos {
    background-color: #2D6A4F;
    /*fondo*/
}