@import url('/src/styles/components/audio.css');
@import url('/src/styles/components/mapa.css');

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    /* Espacio entre las secciones */
}

.Ventas {
    flex: 1;
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    color: white;

}